section{
    display: flex;
    align-items: center;
}
.banner{
    display: flex;
    margin-bottom: 15px;
}
h1{
    font-size: 55px;
}
.orange-color{
    color: orange;
}

.half-width{
    width: 50%;
    padding-left: 5%;
}
section .half-width p{
    font-size: 30px;
    font-weight: 500;
    color: #242121;
    line-height: 40px;
    padding-bottom: 45px;

}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 25px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 600;
    letter-spacing: 1.5px;
    margin-left: 39px;
    border-radius: 20px;
}
.about-me{
    background-image: url(images/shapes/Frame\ 57.jpg);
    background-repeat: no-repeat;
    height: 600px;
    width: auto;
    background-size: 100%;
}

.about-me .myself{
        width: 50%;
        padding-right: 300px;      
} 
.about-me .myself p{
    text-align: justify;
}

.div-one {
    margin-top: 90px;
    justify-content: center;
    text-align: center;
    padding-bottom: 50px;
    font-family: 'Lato', sans-serif;
}
.div-one p{
    font-size: 18px;
    font-weight: 400;
    color: #828282;
}

.projects{
    justify-content: center;
    padding-bottom: 130px;
}

.projects .project-div{
    box-shadow: 0px 0px 30px -3px #52575D;
    border-radius: 20px;
    width: 377px;
    height: 528px;
    margin-left: 50px;
    background-image: linear-gradient(to bottom, #fdfa38 , #fbf983);
}

.projects .div-two{
    margin-left: 0px;
}

.projects .project-div img{
    width: 337px;
    height: 200px;
    margin-top: 20px;
    margin-left: 20px;
    border-radius: 20px;
}

.projects .project-div a{
    text-decoration: none;
}
.projects .project-div h2{
    text-decoration: none;
    margin-left: 20px;
    font-size: 28px;
    font-weight: 800;
    color: rgb(255, 99, 99);
    font-family: 'Lato', sans-serif;


}

.projects .project-div p{
    margin-top: -10px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 18px;
    font-weight: 800;
    line-height: 30px;
    text-align: justify;
    color: rgb(84, 168, 189);
}

.popularity{
    justify-content: center;
    padding: 118px;
}

.popularity .container{
    display: flex;
    justify-content: center;
    width: 1297px;
    height: 210px;
    border-radius: 20px;
    box-shadow: 0px 0px 30px -3px #52575D;
    background-image: linear-gradient(to right, #1fa4fd , #63ccfd);
}

.popularity .container div{
    height: 226px;
    padding-left: 210px;
    color: white;
}

.popularity .container .div-7{
    padding-left: 0px;
}

.popularity .container div h2{
    padding-top: 20px;
    font-size: 48px;
    font-weight: 700;
}

.info .container div p{
    margin-top: -25px;
    font-size: 16px;
    font-weight: 400;
}
